<div class="row">
  
  <div class="col-lg-4 mb-4" *ngFor="let marketing of marketings | async">
     <app-card-marketing [marketing]="marketing" ></app-card-marketing>        
  </div>
    
</div>
<!-- /.row -->
