<div class="card card-shadow h-100">
    <h4 class="card-header"> {{ marketing.title }} </h4>
	<div class="card-body">
	  <p class="card-text">{{ marketing.description }}</p>
	</div>
	<div class="card-footer">
	  <a class="btn btn-primary" [title]="marketing.title + ' details'"  [routerLink]="['/marketing',marketing.id]" > More</a>
	</div>
</div>
