<h2>Users</h2>

  <div class="row">


     <div class="col-lg-3 col-sm-6 portfolio-item" *ngFor="let user of users; index as userId"  >
         

      <app-card-image [user]="user" [userId]="userId" ></app-card-image> 
    </div>
     
    

    
   
  </div>
  <!-- /.row -->
