<div class="card card-shadow h-100">
  <a href="#"><img class="card-img-top" [src]="user.picture.large" alt=""></a>
	<div class="card-body">
	  <h4 class="card-title">
	    <a  [routerLink]="['/users', userId ]" >
	       {{ user.name.first + ' ' + user.name.last }}
	    </a>
	  </h4>
	  <h5> {{ user.location.city }} </h5>
	  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
	</div>
</div>

 