
 <app-header></app-header>
 
<!-- Page Content -->
    <div class="container">

      <h1 class="my-4"> {{title}} </h1>

      <!-- Marketing Icons Section -->
      <app-marketing-section></app-marketing-section>    

      <!-- Portfolio Section -->
      <app-portfolio-section></app-portfolio-section>

      <!-- Features Section -->
      <app-features-section></app-features-section>

      <hr>

      <!-- Call to Action Section -->
      <app-action-section></app-action-section>
     
    </div>
    <!-- /.container -->
