/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 40px;
}

/*@media (min-width: 992px) {
  body {
    padding-top: 40px;
  }
}*/



.portfolio-item {
  margin-bottom: 30px;
}

.card-shadow{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -moz-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -o-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}