<a [routerLink]="['/']"></a>

<h1> {{ title }} </h1>
 <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark ">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>

            <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Portfolio
              </a>
              <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a ngbDropdownItem class="dropdown-item" href="portfolio-1-col.html">1 Column Portfolio</a>
                <a  ngbDropdownItem class="dropdown-item" href="portfolio-2-col.html">2 Column Portfolio</a>
                <a ngbDropdownItem class="dropdown-item" href="portfolio-3-col.html">3 Column Portfolio</a>
                <a ngbDropdownItem class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                <a ngbDropdownItem class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a>
              </div>
            </li>


            
            <li ngbDropdown class="nav-item dropdown">
              <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Pages
              </a>
              <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                <a ngbDropdownItem class="dropdown-item" href="full-width.html">Full Width Page</a>
                <a ngbDropdownItem class="dropdown-item" href="sidebar.html">Sidebar Page</a>
                <a ngbDropdownItem class="dropdown-item" href="faq.html">FAQ</a>
                <a ngbDropdownItem class="dropdown-item" href="404.html">404</a>
                <a ngbDropdownItem class="dropdown-item" href="pricing.html">Pricing Table</a>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </nav>
